.mainDiv {
  display: flex;
  justify-content: center !important;
  align-items: center;
  padding: 2rem;
}
.cardbox {
  display: flex;
  flex-direction: column !important;
  padding-left: 0px !important;
  /* justify-content: center; */
  align-items: center;
  border: 1px solid rgb(184, 182, 182);
  border-radius: 16px;
  margin: 1rem !important;
}
.ctyName {
  text-align: center;
}
.searchBox {
  width: 70%;
  padding: 8px;
}
header {
  display: flex;
  justify-content: center;
  background-color: rgb(234, 229, 229);
  padding: 8px;
}
.css-mhc70k-MuiGrid-root {
  justify-content: center !important;
}
