.mainDiv {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.city {
  font-size: 30px;
  font-weight: bolder;
}
.state {
  font-size: 24px;
  font-weight: bold;
  color: #888;
}
.text {
  font-size: 24px;
  font-weight: 500;
}
select {
  margin-right: 8px;
  padding: 8px;
}
.testDiv {
  margin-top: 1rem;
}
